<div style="display: flex;">
  <div style="display: flex;flex-direction: column;align-items: center;padding: 20px;">\
    <h2>Sign Up</h2>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Email Address" #userEmail required>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input type="password" matInput placeholder="Password" #userPassword required>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary"
      (click)="authService.Register(userEmail.value, userPassword.value)">
      Register
    </button>

    <div class="divider d-flex align-items-center mb-4">
      <p class="text-center fw-bold mx-3 mb-0">Or use </p>
      <button mat-stroked-button type="button" (click)="authService.GoogleAuth()">Google</button>
    </div>
    <div class="redirectToLogin">
      <span>
        Already have an account?
        <a routerLink="/sign-in">Log In</a>
      </span>
    </div>
  </div>
  <div class="col-md-9 col-lg-6 col-xl-5">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp" class="img-fluid"
      alt="Register Image">
  </div>
</div>